.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: #121213;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    max-width: 500px;
    width: 90%;
    color: white;
    font-family: Arial, sans-serif;
}

button {
    margin-top: 20px;
    /* padding: 10px 20px; */
    background-color: #121213;
    color: white;
    border: none;
    font-size: 40px;
    /* border: 1px red solid; */
    border-radius: 5px;
    cursor: pointer;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 44px;
    /* border: 1px red solid; */
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 10px;
    color: white;
    /* padding: 5px; */
    line-height: 1;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 28px;
    color: white;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.modal-icon {
    width: 56px;
    height: 56px;
    margin: 0 auto 20px;
    display: block;
}


.modal-howtoPlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.examples-title {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.example-word {
  display: flex;
  margin-bottom: 5px;
}

.example-letter {
  width: 30px;
  height: 30px;
  border: 2px solid #3a3a3c;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.example-letter.correct {
  border-color: #538d4e;
  background-color: #538d4e;
}

.example-explanation {
  font-size: 14px;
  color: #d7dadc;
  margin-bottom: 15px;
}

.example-letter.present {
  border-color: #b59f3b;
  background-color: #b59f3b;
}

.example-letter.absent {
  border-color: #3a3a3c;
  background-color: #3a3a3c;
}

.share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.share-button:hover {
  background-color: #45a049;
}

.share-icons {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.share-icon {
  fill: white;
}

.share-icon.small {
  width: 16px;
  height: 16px;
  margin-right: -8px;
}

.share-icon.large {
  width: 20px;
  height: 20px;
}